version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
    environment:
      - NODE_ENV=development
      - HOST=0.0.0.0
      - PORT=3000
      - SUPABASE_URL=${SUPABASE_URL}
      - SUPABASE_API_KEY=${SUPABASE_API_KEY}
      - DIGITAL_OCEAN_TOKEN=${DIGITAL_OCEAN_TOKEN}
      - DIGITAL_OCEAN_SPACES_KEY=${DIGITAL_OCEAN_SPACES_KEY}
      - DIGITAL_OCEAN_SPACES_SECRET=${DIGITAL_OCEAN_SPACES_SECRET}
    volumes:
      - ./src:/app/src
      - ./package.json:/app/package.json
      - ./tsconfig.json:/app/tsconfig.json
    command: npm run dev
